@model NewUniversity.Models.Person
@{
    ViewBag.Title = "Admin";
}

<h2>Adminstration Page </h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HireDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnrollmentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfficeAssignment.Location)
            </dd>

        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Go to Student Data", "Index", "Student", null, new { @class = "btn btn-primary", @style = "color:white" })
            </div>
        </div>
    </div>
}

